<!DOCTYPE html>
<html lang="en">
<head>
<meta name="google-site-verification" content="qn0OZW-Sj2E8TvHzcMVyDh9KbV8Fzt53ijpZhO47l7c" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank.Codes 1.0.0</title>
    <meta name="description" content="Thank.Codes - The world's gratitude journal">
<meta name="keywords" content="thankcodes, thank.codes, online gratitude journal">

<link rel="icon" type="image/png" sizes="192x192" href="https://res.cloudinary.com/qiowh98320/image/upload/v1622974422/Untitled_design_xpsqnq.png">
<link rel="apple-touch-icon" type="image/png" sizes="192x192" href="https://res.cloudinary.com/qiowh98320/image/upload/v1622974422/Untitled_design_xpsqnq.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="https://res.cloudinary.com/qiowh98320/image/upload/v1623406549/Untitled_design_8_i31ulu.png" type="image/x-icon">  
          <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
      <script src="https://kit.fontawesome.com/224217abd8.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
      <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <style>
      html {
        scroll-behavior: smooth;
        }
      body{
        font-family: 'Dosis', sans-serif;
      }
      ::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #6200ee;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#pog{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #7952b3;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar2 {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #7952b3;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 1px 5px 0px rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
#snackbar2.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.ui .message:hover{
    background-color: #e8e8e8;
}
.ui .message{
    border: none;
}
.ii{
       display: flex;
    justify-content: center;
    align-items: center;
}
.card button{
    color: #FFF;
}
.card-title{
    text-transform: capitalize;
}
body {
    overflow: overlay;
    background: url("https://res.cloudinary.com/qiowh98320/image/upload/v1623404675/Untitled_design_6_whiwkv.png");


}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
      </style>
</head>
<body>
    <nav style="background-color: #6200ee">
    <div class="nav-wrapper white-text" id="#joe">
      <a href="/" class="brand-logo" style="margin-left: 10px;" >
      Thank.Codes
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/user/<%= user.nickname %>">My Journal</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav white-text" id="mobile-demo" style="background-color: #6200ee;">
        <li><a style="color: white;" href="/home">Home</a></li>
        <li><a style="color: white;"  href="/donate">Donate</a></li>
                <li><a style="color: white;"  href="/user/<%= user.nickname %>">My Journal</a></li>
  </ul>
<br>
<div class="ui container">
    <br>
    <br>
        <div class="ii">
            <input type="text" name="content" placeholder="I am thankful for" id="content" style="font-family: 'Dosis', sans-serif" value="" required style="color: ">
            <button class="mdc-button mdc-button--raised" onclick="final();" id="re" >
  <span class="mdc-button__label">Post</span>
</button>
</div>
    <br>
    <br>
    <div class="trending">
    <h2 style="font-family: ''Dosis', sans-serif; color: black;">Post of the Day</h2>

    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="list">
    </div>
    <div class="fixed-action-btn">
  <a class="btn-floating btn-large deep-purple accent-4" href="#content">
    <i class="fas fa-plus"></i>
  </a>
</div>
</div>
<div id="snackbar" style="font-family: 'Dosis', sans-serif;">Gratitude Added! Scroll down to see it! Reload to view it on the top!</div>
<div id="snackbar2" style="font-family: 'Dosis', sans-serif;">Please fill in the field!</div>
<br>
<br>
<script>
    /* global $ */
  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
function empty() {
    var x;
    x = document.getElementById("content").value;
    if (x == "") {
        var x = document.getElementById("snackbar2");
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        return true;
    } else{
        return false;
    }
}

    function myFunction() {
  var x = document.getElementById("snackbar");
  x.className = "show";
  setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
    $(document).ready(function(){
    $("#re").click(function() {
        $("#re").attr("disabled", "disabled");
        setTimeout(function() {
            $("#re").removeAttr("disabled");      
        }, 30000);
    });
    $('.sidenav').sidenav();
        $.getJSON("/api", function(json){
        var myjson;
        myjson = json;
        myjson = myjson.reverse();
        var num = Math.floor(Math.random() * myjson.length);
        var postb = myjson[num]
        var px = "<div class='card ' style='background-color: #ffc107;'><div class='card-content white-text'><span class='card-title'>" + "<a style='color: #343a40;' href='/user/" + postb.author + "'>" + postb.author + "</a>" + " " + "posted a new gratitude" + "</span><p>" + postb.content + "</p></div><div class='card-action'><a style='color: white;' class='mdc-button mdc-button--raised' href='https://twitter.com/intent/tweet?text=" + postb.author + " " + "is giving gratitude: " + postb.content + " - Find more at https://thank.codes'><span class='mdc-button__label'><i class='fab fa-twitter'></i>  Tweet</span></a><button style='color: white;' class='mdc-button mdc-button--raised' onclick=\"clicker('" + postb.content +
        "')\"><span class='mdc-button__label'>I am thankful too</span></button></div></div>"
        $(".trending").append(px)
        addPosts(json)
        });
    })
    function addPosts(posts){
        posts.forEach(function(post){
            addPost(post)
        })
    }
    function addPost(post){
        var pcontent = post.content
        var goodString = pcontent.replace(/'/g, "\'");
        console.log(goodString)
        var element = "<div class='card '" + " id=" + post._id +" style='background-color: #ffc107'><div class='card-content white-text'><span class='card-title' style='color: white;'>" + "<a href='/user/" + post.author + "' style='color: #343a40;'>" + post.author + "</a>" + " " + "posted a new gratitude" + "</span><p>" + goodString + "</p></div><div class='card-action white-text'><a style='color: white;' class='mdc-button mdc-button--raised' href='https://twitter.com/intent/tweet?text=" + post.author + " " + "is giving gratitude: " + goodString + " - Find more at https://thank.codes" + "><span class='mdc-button__label'><i class='fab fa-twitter'></i>   Tweet</span></a><button style='color: white;' class='mdc-button mdc-button--raised' onclick=\"clicker('" + goodString +
        "')\"><span class='mdc-button__label'>I am thankful too</span></button></div></div>"
        $('.list').append(element)
    }
    var mainstr = '<%= user.sub %>'
    var ejkl = mainstr.split("|").pop()
    
    function final(){
            if(!empty()){
        myFunction();
    var userInput = $("#content").val();
            $.post("/api/new", {content: userInput, author: '<%= user.nickname %>', userid: ejkl})
                .then(function(todo) {
                    console.log(todo)
                    addPost(todo)
                    document.getElementById('content').value = ''
                })
                .catch(function(err) {
                    console.log(err);
                });
    } 
                }
                function clicker(post){
                    var x = document.getElementById("content")
                    x.scrollIntoView();
                    x.value = post;
                }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<br>
</body>
</html>
</body>
</html>>